/* Fira Code font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

html {
	font-size: 100% !important; /* fix font a11y issue */
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}
header {
	background-color: var(--pcom-dark-blue); 
	padding: 12px 20px 18px;
	
	h1 {
		display: flex;
		align-content: center;
		align-items: center;
		margin: 0;
		color: var(--pcom-white);
		font-size: clamp(2rem, 8vh, 4.5rem);
		
		img {
			display: block;
			width: 196px;
			flex-grow: 0;
		}
		
		div {
			margin-left: 1.5rem;
		}
	}
}

main {
	flex: 1 0 auto;
	padding: 1rem 2rem;
}

footer { 
	background-color: var(--pcom-dark-blue);
	color: var(--pcom-white);
	font-size: clamp(1rem,2.25vh,1.5rem);
	font-weight: 700;
	padding: 1rem 0;
	text-align: center;
	a, a:visited {
		color: var(--pcom-cyan) !important;
	}
	a:hover, a:visited:hover {
		color: var(--pcom-cyan);
		text-decoration: none;
	}
	a:focus, a:visited:focus {
		color: var(--pcom-cyan) !important;
	}
}

p {
	line-height: 1.4em;
}

label {
	font-weight: 700;
}
input {
	font-family: inherit;
	font-size: 1em;
	padding: .375rem .25rem;
	line-height: 1;
	border: solid 3px var(--pcom-blue);
	border-radius: var(--pcom-border-radius);
	margin-left: 5px;
	text-align: center;
	caret-color: transparent;
}
input#patron_barcode {
	width: calc(9ch + .25rem + .25rem + 1ch);
}
input#book_barcode {
	width: calc(14ch + .25rem + .25rem + 1ch);
}
input::placeholder {
	opacity: 1;
	font-style: italic;
	color: var(--pcom-dark-red) !important;
}

button {
	font-size: clamp(1rem,2.5vh,4rem);
	font-weight: 700;
	padding: .5rem 1.5rem;
	border: solid 2px var(--pcom-blue);
	border-radius: var(--pcom-border-radius);
	background-color: var(--pcom-blue);
	color: var(--pcom-white);
}
button:hover {
	background-color: var(--pcom-yellow);
	color: var(--pcom-text);
}
input:focus, button:focus {
	outline: solid 2px var(--pcom-dark-blue);
	box-shadow: 0px 0px 5px 5px rgba(0, 68, 141, 0.66), 0px 0px 12px 12px rgba(0, 68, 141, 0.33);
}


.sr-only {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

form, fieldset {
	height: 100%;
}

fieldset {
	font-size: clamp(1.5rem,4.25vh,4rem);
	border: 0;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	legend {
		font-weight: 700;
		font-size: 1.25em;
	}
	
	p { 
		margin: 0;
	}
	.step {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: center;
	}
	.step-input {
		white-space: nowrap;
		font-size: 1.25em;
	}
	.step-instruction {
		max-width: 90%;
		background-color: var(--pcom-cool-gray);
		border: solid 3px var(--pcom-dark-blue);
		border-radius: 1rem;
		padding: 1rem 1.25rem;
	}
	
	.form-nav {
		text-align: right;
		width: 100%;
		font-size: clamp(1rem,2vh,1.5rem);
		
		.button-bar {
			display: flex;
		}
	}
}

fieldset#step1 .form-nav .button-bar {
	justify-content: flex-end;
}

fieldset#step2 .form-nav .button-bar {
	justify-content: space-between;
}

fieldset .photo-group {
	margin: 1rem auto 0;
	display: flex;
	align-content: center;
	justify-content: center;
	
	img {
		height: 225px;
	}
		
	
	img + img {
		margin-left: 5rem;
	}
}


fieldset:not(.active-step) {
	display: none;
}


body.error {
	main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		font-size: clamp(1.75rem,5vh,5rem);
	}
	
	#content { 
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 90%;
		h2 {
			margin: 1rem 0 2rem;
			.fa-triangle-exclamation { color: var(--pcom-dark-red); }
		}
		.error_message {
			background-color: var(--pcom-cool-gray);
			border: solid 3px var(--pcom-dark-blue);
			border-radius: 1rem;
			padding: 2rem;

			
			p { margin: 0; }
			p + p {	margin: 1rem 0 0; }
			
			.inset_item {
				margin: .5em auto 0;
				width: 90%;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				
				.book_cover img {
					max-width: 180px;
					min-height: 100px;
					max-height: 200px;
				}
				.book_cover + .metadata {
					margin-left: 1rem;
				}
				
				.metadata {
					font-size: .875em;
					
					.title {
						font-weight: 700;
				  }
					.title, .author {
						padding: 0 1rem;
					}
					
					hr {
						color: var(--pcom-dark-blue);
						border-style: solid;
						margin: .25em 0;
					}
				}
			}
			
			.cover_disclaimer {
				text-align: center;
				font-size: .75em;
				margin-top: .5rem;
			}
		}
	}

	.debug {
		margin: .5em 1em 0;
		padding: .5rem;
		border: dashed 3px var(--pcom-dark-red);
		h3 {
			margin: 0 0 .5em;
			padding-bottom: 4px;
			color: var(--pcom-dark-red);
			border-bottom: solid 2px currentColor;
		}
		h3, p {
			font-size: .75em 
		}
	}
}

#reset_message {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;		
	
	@media screen and (prefers-reduced-motion: reduce) {
		.timebar {
			width: 100% !important;
		}
	}
	.timebar {
		height: 8px;
		background-color: var(--pcom-dark-red);
	}
	#left_bar {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	#right_bar {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}		
	#time_msg {
		text-align: center;
		padding: 0 .375ch;
		white-space: nowrap;
	}
	#timer {
		font-family: 'Fira Code';
	}
}